body{
    background-color:#c6ede0;
}

h1{
    margin:20px;
    background-color:#00c1a9;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:100000px;
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    image
}
h3{
    text-align: center;
}
